/* Убедитесь, что изображения жестов не выходят за рамки */
#alphabet-container img {
    /* Чтобы изображение было видно, даже если оно маленькое */
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Стилизация для лучшего вида навигации */
.navbar-brand {
    font-weight: bold;
}

/* Стили для карточек */
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px); /* Небольшой эффект при наведении */
}